:root {
    --darkBg: #233142;
    --lightBg: #455d7a;
    --white: #e3e3e3;
    --accent: #ff5959;;
    --shadow: #252525;
    --font: 'Varela Round', sans-serif;

}

body, h1, h2, h3, p{
    margin: 0;
}

.container {

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    margin: 0;
    
    color: var(--white);
}

.header {
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* positioning */

    /* box-model */
    height: 10%;
    background-color: var(--darkBg);
    padding: 2rem;

    /*typography*/
    text-align: center;
    font-size: 2rem;

    /* maniupulation */

    /* misc */
    transform: scale(1);
    box-shadow: 0 4px 4px var(--shadow)
}

.game {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    justify-content: center;

    background-color: var(--lightBg);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    font-size: 2rem;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

    margin: 0px auto;

    height: 450px;
    width: 450px;

    padding: 2rem;
}

.gameTile {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;
    width: 150px;

    font-family: var(--font);
    color: var(--accent);
    font-size: 7rem;

}

#tile2, #tile5, #tile8 {
    border-left: var(--shadow) solid;
    border-right: var(--shadow) solid;
}

#tile4, #tile5, #tile6 {
    border-top: var(--shadow) solid;
    border-bottom: var(--shadow) solid;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5%;

    background-color: var(--darkBg);
}